{namespace vh=In2code\Powermail\ViewHelpers}
<fieldset class="form__page form__page--{page.uid} {page.css}">
	<f:if condition="{page.css} != 'nolabel'">
		<legend class="form__page-caption">{page.title}</legend>
	</f:if>

	<f:for each="{page.fields}" as="field" iteration="iteration">
		<vh:misc.createRowTags columns="{settings.styles.numberOfColumns}" class="Testklasse {settings.styles.framework.rowClasses}" iteration="{iteration}">
			<f:render partial="Form/Field/{vh:String.Upper(string:field.type)}" arguments="{field:field}" />
		</vh:misc.createRowTags>
	</f:for>
</fieldset>
