{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--captcha form__fieldwrap--{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses} {vh:Validation.ErrorClass(field:field, class: 'powermail_field_error')}">
		<f:form.textfield
				id="powermail_field_{field.marker}"
				property="{field.marker}"
				value=""
				class="powermail_captcha {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				additionalAttributes="{vh:Validation.CaptchaDataAttribute(field:field)}" />

		<vh:Validation.Captcha field="{field}" alt="captcha" class="powermail_captchaimage" id="powermail_captchaimage" />

		<f:if condition="{settings.validation.client}">
			<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
		</f:if>
	</div>
</div>
