{namespace vh=In2code\Powermail\ViewHelpers}

<div class="form__fieldwrap form__fieldwrap--select form__fieldwrap--{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
	<f:render partial="Form/FieldLabel" arguments="{_all}" />

	<div class="{settings.styles.framework.fieldWrappingClasses}">
		<vh:Form.SelectField
				options="{field.modifiedSettings}"
				property="{field.marker}"
				class="powermail_select {settings.styles.framework.fieldClasses} {vh:Validation.ErrorClass(field:field, class:'powermail_field_error')}"
				id="powermail_field_{field.marker}"
				additionalAttributes="{vh:Validation.ValidationDataAttribute(field:field)}"
				multiple="{field.multiselectForField}"
				value="{vh:Misc.PrefillField(field:field, mail:mail)}" />

		<f:if condition="{field.multiselect}">
			<f:if condition="{settings.validation.client}">
				<div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
			</f:if>
		</f:if>
	</div>
</div>
