@mixin icon-basic-style() {
	position: relative;
	display: inline-block;
	/* Do not simplify these! Else background-size cannot be applied later. */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 0 0;
}

@mixin icon-file($color, $name, $important: false) {
	@if $important == false {
		background-image: url(../Icons/Content/#{$color}/#{$name}.svg);
	} @else {
		background-image: url(../Icons/Content/#{$color}/#{$name}.svg) !important;
	}
}

@mixin icon-specfic-style($name, $size) {
	line-height: $size;
	width: $size;
	height: $size;
	@include icon-file($name);
}

@mixin icon-resize($newSize) {
	width: $newSize !important;
	height: $newSize !important;
	background-size: 100% 100% !important;
}

@mixin icon($name, $size: 24px, $position: before, $withBasicStyle: true) {
	@if $position == null {
		@if $withBasicStyle == true { @include icon-basic-style(); }
		@include icon-specfic-style($name, $size);
		@content;
	} @else {
		&:#{$position} {
			content: '';
			@if $withBasicStyle == true { @include icon-basic-style(); }
			@include icon-specfic-style($name, $size);
			@content;
		}
	}
}

@mixin icon-background($color, $name, $size:24px, $position:center center) {
	background-repeat: no-repeat;
	background-size: $size;
	background-position: $position;
	@include icon-file($color, $name);
}

@mixin icon-remove($position: before) {
	@if $position == false {
		position: static;
		margin: 0;
		padding: 0;
		content: '';
		background: transparent;
		width: 0;
		height: 0;
	} @else {
		&:#{$position} {
			position: static;
			margin: 0;
			padding: 0;
			content: '';
			background: transparent;
			width: 0;
			height: 0;
		}
	}
}