@mixin screenreader-only() {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin reset-list() {
	list-style: none;
	margin: 0;
	padding: 0;
	li:before {
		content: initial;
		color: initial;
		margin-left: 0;
		margin-right: 0;
	}
}

@function return-grid-width($columns: null, $add: 0px, $grid: $neat-grid) {
	@return calc(#{_neat-column-width($grid, $columns)});
}