@mixin resetFont() {
	font-weight: normal;
	font-style: normal;
}

@mixin regular($italic: false) {
	font-weight: normal;
	@if $italic == true {
		font-style: italic;
	}
}

@mixin bold($italic: false) {
	font-weight: bold;
	@if $italic == true {
		font-style: italic;
	}
}