@include b('image-gallery') {
	width: 100%;
	padding: 0 4px;
	@include clearfix;

	@include e('link') {

		&:hover {
			@include e('hover') {
				opacity: 1;
			}
		}

		@include e('hover') {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba($color-black, 0.7);
			opacity: 0;
			transition: 0.3s ease-in-out opacity;

			&:after {
				content: ' ';
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				width: 50px;
				height: 50px;
				transform: translate(-50%, -50%);
				background-image: url(../Icons/Content/White/search-plus.svg);
			}
		}

		img {
			width: calc(100% - 1px);
			height: auto;
		}

		@include e('copyright') {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 5px;
			background-color: rgba($color-black, 0.5);
			color: $color-white;
		}
	}
}
