<div class="grid grid--1x1{f:if(condition: '{data.flexform_small_columns}', then: ' grid--small-columns')}{f:if(condition: '{data.flexform_centered_text}', then: ' grid--centered-text')}{f:if(condition: '{data.flexform_background_color}', then: ' grid--{data.flexform_background_color}')}">
    <div class="container">
        <div class="grid__column">
            {data.tx_gridelements_view_column_0 -> f:format.raw()}
        </div>
    </div>
</div>
