<div class="grid grid--2x1{f:if(condition: '{data.flexform_small_columns}', then: ' grid--small-columns')}{f:if(condition: '{data.flexform_centered_text}', then: ' grid--centered-text')}{f:if(condition: '{data.flexform_background_color}', then: ' grid--{data.flexform_background_color}')}">
    <div class="container">
        <div class="grid__headline"><header><h2>{data.header}</h2></header></div>
        <div class="grid__column">
            {data.tx_gridelements_view_column_1 -> f:format.raw()}
        </div>
        <div class="grid__column">
            {data.tx_gridelements_view_column_2 -> f:format.raw()}
        </div>
    </div>
</div>
