<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Page" />

	<f:section name="Main">

		<v:page.header.meta name="og:title" content="{data.title}" />
		<v:page.header.meta name="og:description" content="{data.description}" />

		{content -> f:format.raw()}

	</f:section>

</html>
