<f:if condition="{data.tx_mask_accordionitem}">
	<div class="accordion">
		<ul class="accordion__list">

			<f:for each="{data.tx_mask_accordionitem}" as="listItem">
				<li class="accordion__list-item">
					<header class="accordion__header">
						<div class="accordion__headline">
							<button class="accordion__button"></button>
							<h3>{listItem.tx_mask_headline}</h3>
						</div>
						<div class="accordion__subline">
							<div class="accordion__sub-header">{listItem.tx_mask_subline}</div>
						</div>
					</header>
					<div class="accordion__content">
						<div class="accordion__text{f:if(condition: listItem.tx_mask_centeredtext, then: ' accordion__text--centered')}">
							{listItem.tx_mask_content -> f:format.html()}
						</div>
						<f:if condition="{listItem.tx_mask_covidhint}">
							<div class="accordion__covid-hint">
								<div class="accordion__covid-header">
									<f:image src="EXT:wedding_provider/Resources/Public/Images/Virus.svg" width="50" height="50" />
									<header><h3>COVID-19-Hinweis</h3></header>
								</div>
								{listItem.tx_mask_covidhint -> f:format.html()}
							</div>
						</f:if>
					</div>
				</li>
			</f:for>

		</ul>
	</div>
</f:if>

