<div id="map" class="google-maps"></div>

<script type="text/javascript">

    function initialize() {

        var iconBase = 'typo3conf/ext/wedding_provider/Resources/Public/Icons/GoogleMaps/Marker-';
        var icons = {
            Location: {
                icon: iconBase + 'Location.svg'
            },
            Overnight: {
                icon: iconBase + 'Overnight.svg'
            },
            Parking: {
                icon: iconBase + 'Parking.svg'
            },
            Playground: {
                icon: iconBase + 'Playground.svg'
            },
            Wedding: {
                icon: iconBase + 'Wedding.svg'
            }
        };

        var locations = [
            <f:for each="{data.tx_mask_marker}" as="marker">
                ['{marker.tx_mask_title}', parseFloat({marker.tx_mask_latitude}), parseFloat({marker.tx_mask_longitude}), '{marker.tx_mask_markertype}', '{marker.tx_mask_headline}', '{marker.tx_mask_description -> f:format.html()}'],
            </f:for>
        ];



        var bounds = new google.maps.LatLngBounds();

        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeId: google.maps.MapTypeId.SATELLITE
        });

        for (var i = 0; i < locations.length; i++) {
            var latlng = new google.maps.LatLng(locations[i][1], locations[i][2]);
            var iconType = locations[i][3];
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i][1], locations[i][2]),
                icon: icons[iconType].icon,
                map: map
            });

            contentString = '';

            contentString+= '<div class="goolge-maps-infowindow">';
            contentString+= '    <strong>' + locations[i][0] + '</strong>';
            contentString+= '    <h3>' + locations[i][4] + '</h3>';
            contentString+= locations[i][5];
            contentString+= '</div>';

            bounds.extend(latlng);

            var infowindow = new google.maps.InfoWindow();

            google.maps.event.addListener(marker, 'click', (function(marker, contentString, infowindow) {
                return function() {
                    infowindow.setContent(contentString);
                    infowindow.open(map, marker);
                }
            })(marker, contentString, infowindow));

            map.fitBounds(bounds);
        }
    }

</script>