


<section class="stage{f:if(condition: '{data.assets.0.properties.mime_type} != \'video/mp4\'', then: ' stage--image')}"{f:if(condition: '{data.assets.0.properties.mime_type} != \'video/mp4\'', then: ' style="background-image: url({f:uri.image(image: \'{data.assets.0}\', width: \'1920c\')});"')}>

    <div class="container">
        <div class="stage__content">
            <div class="stage__logo">
                <f:image src="EXT:wedding_provider/Resources/Public/Images/Logo-Hochzeit-Janina-Andreas.png" width="400c" alt="Logo Hochzeit Janina und Andreas" />
            </div>

            <f:if condition="{data.header}">
                <div class="stage__header">
                    <header><h1>{data.header}</h1></header>
                </div>
            </f:if>

            <f:if condition="{data.tx_mask_day} || {data.tx_mask_location}">
                <div class="stage__day-location">
                    <p>
                        <f:if condition="{data.tx_mask_day}"><f:format.date format="%A, %d.%m.%Y">{data.tx_mask_day}</f:format.date></f:if>
                        <f:if condition="{data.tx_mask_day} && {data.tx_mask_location}">|</f:if>
                        <f:if condition="{data.tx_mask_location}">{data.tx_mask_location}</f:if>
                    </p>
                </div>
            </f:if>
            <f:if condition="{data.uid} == '1'">
                <div class="stage__stay-tuned">
                    <header><h3>Weitere Informationen folgen in Kürze.</h3></header>
                </div>
            </f:if>

        </div>
    </div>

	<f:if condition="{data.assets.0.properties.mime_type} == 'video/mp4'">
		<f:then>
			<f:media file="{data.assets.0}" class="stage__video" width="1920" additionalConfig="{muted: '1', loop: '1', autoplay: '1', controls: '0'}" />
		</f:then>
	</f:if>

</section>
