<div class="text-image-teaser text-image-teaser--{data.tx_mask_backgroundcolor} text-image-teaser--{data.tx_mask_imageposition}">
    <div class="text-image-teaser__background">
        <f:for each="{data.image}" as="file">
            <div class="text-image-teaser__image" style="background-image: url({f:uri.image(image: file)})"></div>
        </f:for>
    </div>
    <div class="text-image-teaser__foreground">
        <div class="container">
            <div class="text-image-teaser__content">
                <header><h2>{data.header}</h2></header>
                {data.bodytext -> f:format.raw()}
            </div>
        </div>
    </div>
</div>