<f:if condition="{data.tx_mask_collection}">

    <section class="vcard">

        <f:if condition="{data.header} || {data.bodytext}">
            <div class="vcard__intro">
                <f:if condition="{data.header}">
                    <div class="vcard__headline">
                        <header><h2>{data.header}</h2></header>
                    </div>
                </f:if>
                <f:if condition="{data.bodytext}">
                    <div class="vcard__content">
                        {data.bodytext -> f:format.raw()}
                    </div>
                </f:if>
            </div>
        </f:if>

        <div class="vcard__collection">

            <f:for each="{data.tx_mask_collection}" as="item">
                <div class="vcard__item">
                    <div class="vcard__icon">
                        <i class="icon icon--{item.tx_mask_icon}"></i>
                    </div>
                    <div class="vcard__content">
                        <div class="vcard__title">
                            <f:if condition="{item.tx_mask_title}">
                                <h3>{item.tx_mask_title}</h3>
                            </f:if>
                            <f:if condition="{item.tx_mask_link}">
                                <div class="vcard__link">
                                    <f:link.typolink parameter="{item.tx_mask_link}">Angebote ansehen</f:link.typolink><br />
                                </div>
                            </f:if>
                        </div>
                    </div>
                </div>
            </f:for>

        </div>

    </section>

</f:if>

