@include b('menu-button') {
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: none;
    float: right;
    position: relative;
    z-index: 2;
    
    @include m('open') {
        @include e('line') {
            background-color: $color-white;
            transform-origin: 50% 50%;

            @include m('top') {
                top: 50%;
                transform: rotate(45deg);
            }

            @include m('center') {
                opacity: 0;
            }

            @include m('bottom') {
                bottom: 50%;
                transform: rotate(-45deg);
            }

        }
    }

    @include e('line') {
        width: 100%;
        height: 2px;
        background-color: $color-red;
        position: absolute;
        left: 0;
        z-index: 2;
        transition: 0.3s ease-in-out all;

        @include m('top') {
            top: 0;
        }
        @include m('center') {
            top: 50%;
            transform: translateY(-50%);
        }
        @include m('bottom') {
            bottom: 0;
        }
    }
}