@include b('menu') {
    background-color: rgba($color-red, 0.95);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -9999px;
    z-index: 1;
    transition: .3s linear opacity;
    opacity: 0;
    
    @include m('open') {
        left: 0;
        opacity: 1;
    }

    @include m('main') {
        @include e('nav') {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @include grid-media($screen-xs) {
                width: 100%;
            }

            @include e('list') {
                @include e('list-item') {
                    list-style: none outside none;
                    text-align: center;

                    a {
                        font-size: 26px;
                        text-decoration: none;
                        line-height: 34px;
                        padding: 10px 20px;
                        display: block;
                        color: $color-white;
                        transition: .3s linear all;

                        &:hover {
                            background-color: $color-white;
                            color: $color-red;
                        }
                    }
                }
            }
        }
    }
}