@include b('accordion') {
	margin: 50px 0;

	@include e('list') {
		margin: 0;
		padding: 0;

		@include e('list-item') {
			list-style: none outside none;
			margin: 0 0 30px 10px;

			@include grid-media($screen-xs) {
				margin: 0 0 30px 0;
			}

			@include e('header') {
				background-image: none;
				padding: 0;
				border-right: 1px solid rgba($color-black, 0.1);
				position: relative;
				z-index: 2;
				width: calc(100% + 1px);
				background-color: $color-red;
				border-radius: 50px 0 0 50px;

				@include grid-media($screen-xs) {
					border-radius: 0;
				}

				@include e('headline') {

					@include e('button') {
						height: 100px;
						width: 100px;
						background-color: tint($color-red, 30%);
						border-radius: 50%;
						border: 5px solid $color-lightgray;
						top: 0;
						left: -15px;
						position: absolute;
						cursor: pointer;
						transition: .3s ease-in-out background-color;

						@include grid-media($screen-xs) {
							height: 50px;
							width: 50px;
							top: 50%;
							left: -5px;
							border: 4px solid $color-lightgray;
							transform: translateY(-50%);
						}

						&:hover {
							background-color: tint($color-red, 50%);
						}

						@include m('active') {
							&:before {
								opacity: 0;
							}
						}

						&:before,
						&:after {
							content: ' ';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background-color: $color-white;
						}

						&:before {
							width: 4px;
							height: 40px;
							transition: .3s ease-in-out opacity;

							@include grid-media($screen-xs) {
								height: 20px;
							}
						}
						&:after {
							width: 40px;
							height: 4px;

							@include grid-media($screen-xs) {
								width: 20px;
							}
						}
					}
					h3 {
						text-align: left;
						color: $color-white;
						padding: 12px 10px 6px;
						font-size: 36px;
						line-height: 38px;
						margin: 0 0 0 100px;

						@include grid-media($screen-xs) {
							font-size: 28px;
							line-height: 34px;
							margin: 0 0 0 50px;
						}
					}
				}
				@include e('subline') {
					color: $color-white;
					text-align: left;
					padding: 3px 0 3px 110px;
					border-top: 2px dashed $color-white;

					@include grid-media($screen-xs) {
						padding: 5px 0 5px 60px;
					}

					@include e('sub-header') {
						display: inline-block;
						padding: 2px 0;
					}
				}
			}

			@include e('content') {
				background-color: $color-white;
				margin-left: 56px;
				padding: 5px 52px;
				text-align: left;
				display: none;
				box-shadow: 1px 1px 1px rgba($color-black, 0.1);
				position: relative;
				z-index: 1;

				@include grid-media($screen-xs) {
					margin-left: 0;
					padding: 5px 20px;
				}

				@include e('text') {
					@include m('centered') {
						margin: 40px 0;

						h3 {
							margin: 0;
							text-align: center;
						}
						p {
							margin: 5px;
							text-align: center;

							&:after {
								content: ' ';
								width: 100%;
								height: 60px;
								display: block;
								position: relative;
								background-image: url(../Images/Drops-Red.svg);
								background-repeat: no-repeat;
								background-position: center center;
							}

							&:last-of-type {
								&:after {
									background-image: none;
									height: 20px;
								}
							}
						}
					}

					p {
						text-align: left;
					}
				}

				@include e('covid-hint') {
					border: 5px solid $color-red;
					margin-bottom: 20px;
					padding: 0 20px;
					@include clearfix;

					@include e('covid-header') {
						margin: 20px 0;
						img {
							float: left;
							position: relative;
							top: 6px;
						}

						header {
							background-image: none;
							float: left;
							width: calc(100% - 50px);
							padding: 0 0 0 20px;

							h3 {
								text-align: left;
							}
						}
					}
				}
			}
		}
	}
}
