@include b('stage') {
    position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;

	@include grid-media($screen-xs) {
		overflow: hidden;
	}

	@include m('image') {
		height: 100vh;

		@include e('logo') {
			position: initial !important;
			top: initial !important;
			left: initial !important;
		}

		@include e('header') {
			position: initial !important;
			top: initial !important;
		}
	}

    &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color-white, 0.8);
    }

    @include e('content') {
        width: 1200px;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        @include grid-media($screen-lg) {
            width: 100%;
            padding: 0 10px;
        }

        @include e('logo') {

			@include grid-media($screen-xs) {
				position: absolute;
				top: 0;
				left: 20px;
			}

            img {
                width: 200px;
                height: auto;

				@include grid-media($screen-sm) {
					width: 100px;
				}
            }
        }

        @include e('header') {
			@include grid-media($screen-xs) {
				position: relative;
				top: 20px;
			}
            h1 {
                margin: 1em 0 30px;
            }
        }

        @include e('day-location') {
            p {
                font-size: 24px;
                font-weight: 300;

                @include grid-media($screen-sm) {
                    font-size: 18px;
                }
            }
        }
        @include e('stay-tuned') {
            position: relative;
            top: 50px;
        }
    }

	@include e('video') {
		width: 100%;

		@include grid-media($screen-xs) {
			height: 280px;
			width: auto;
		}
	}
}
