@include b('text-image-teaser') {
    position: relative;
    @include clearfix;

    h2 {
        margin-top: 0;
    }

    @include m('lightgrey') {
        background-color: $color-lightgray;
    }

    @include m('red') {
        background-color: $color-red;

        h2 {
            color: $color-white;
        }
        p {
            color: $color-white !important;
        }
    }

    @include m('right') {
        @include e('background') {
            right: 0;
        }
        @include e('foreground') {
            @include e('content') {
                margin-left: 0;
            }
        }
    }

    @include m('left') {
        @include e('background') {
            left: 0;
        }
    }

    @include e('background') {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;

        @include grid-media($screen-sm) {
            width: 100%;
            position: relative;
            top: initial;

            &:after {
                content: ' ';
                display: block;
                position: relative;
                padding-top: calc(100% / 3 * 2);
            }
        }

        @include e('image') {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-position: center center;
            background-size: cover;
        }
    }

    @include e('foreground') {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @include e('content') {
            @include grid-column(6);
            @include grid-push(6);
            padding: 50px 20px;

            @include grid-media($screen-sm) {
                width: 100%;
                margin: 0;
            }

            @include grid-media($screen-xs) {
                padding: 50px 10px;
            }
        }
    }
}
