@include b('vcard') {
    background-color: $color-lightgray;
    padding: 60px 0;
    @include clearfix;

    @include e('intro') {
        @include container;

        @include e('headline') {
            @include grid-column(12);

            @include grid-media($screen-xs) {
                @include grid-column(12);
            }
        }
        @include e('content') {
            @include grid-column(12);

            @include grid-media($screen-xs) {
                @include grid-column(12);
            }
        }
    }

    @include e('collection') {
        @include container;
        @include clearfix;
        position: relative;
        padding: 20px 0;

        @include e('item') {
            background-color: $color-white;
            margin: 20px;
            box-shadow: 2px 2px 2px rgba($color-black, 0.1);

            @include grid-media($screen-xs) {
                margin: 20px 10px;
            }

            @include e('icon') {
                width: 100px;
                height: 100px;
                float: left;
                background-color: $color-red;
                position: relative;

                @include b('icon') {
                    width: 100px;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;

                    @include m('house') {
                        @include icon-background('White', 'house', 50px);
                    }
                    @include m('apartment') {
                        @include icon-background('White', 'apartment', 40px);
                    }
                    @include m('hotel') {
                        @include icon-background('White', 'hotel', 50px);
                    }
                }
            }

            @include e('content') {
                float: right;
                width: calc(100% - 120px);
                padding: 5px 0;

                @include grid-media($screen-xs) {
                    width: calc(100% - 110px);
                }
                
                @include e('title') {
                    h3 {
                        font-size: 28px;
                        line-height: 30px;
                        margin: 0 0 8px;

                        @include grid-media($screen-xs) {

                        }
                    }
                }

                @include e('link') {
                    a {
                        color: $color-darkgray;
                    }
                }
            }
        }
    }

    .slick-arrow {
        width: 30px;
        height: 30px;
        position: absolute;
        left: calc(50% - 200px);
        bottom: 40px;
        transform: translateX(-50%) rotate(-45deg);
        font-size: 0px;
        background-color: transparent;

        &.slick-prev {
            left: calc(50% - 200px);
            border-top: 4px solid $color-red;
            border-right: none;
            border-bottom: none;
            border-left: 4px solid $color-red;
        }
        &.slick-next {
            left: calc(50% + 200px);
            border-top: none;
            border-right: 4px solid $color-red;
            border-bottom: 4px solid $color-red;
            border-left: none;
        }
    }

    .slick-dots {
        line-height: 0;
        text-align: center;
        margin-top: 30px;

        li {
            display: inline-block;
            list-style: none outside none;
            padding: 0;
            margin: 0 5px;
            line-height: 0;

            &.slick-active {
                button {
                    &:before,
                    &:after {
                        background-color: $color-black;
                    }
                }
            }

            button {
                width: 33px;
                height: 30px;
                background-color: transparent;
                border: none;
                position: relative;
                font-size: 0px;
                margin: 0 1px;
                padding: 0;
                cursor: pointer;

                &:hover {
                    &:before,
                    &:after {
                        background-color: $color-black;
                    }
                }

                &:before {
                    content: ' ';
                    position: absolute;
                    display: block;
                    top: 4px;
                    left: 6px;
                    width: 25px;
                    height: 16px;
                    background-color: $color-red;
                    border-radius: 0 8px 8px 0;
                    transform: rotate(-45deg);
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    display: block;
                    top: 4px;
                    left: 0px;
                    width: 25px;
                    height: 16px;
                    background-color: $color-red;
                    border-radius: 0 8px 8px 0;
                    transform: rotate(-135deg);
                }
            }
        }
    }
}