@include b('grid') {

    @include m('lightgrey') {
        background-color: $color-lightgray;
    }
    
    @include m('white' 'lightgrey') {
        header {
            background-image: url(../Images/Drops-Red.svg);

            @include grid-media($screen-md) {
                background-image: none;
            }

            h2 {
                &:before,
                &:after {
                    background-image: url(../Images/Vinyl-Red.svg);
                }
            }
        }
    }

    @include m('red') {
        header {
            background-image: url(../Images/Drops-White.svg);

            @include grid-media($screen-md) {
                background-image: none;
            }

            h2 {
                &:before,
                &:after {
                    background-image: url(../Images/Vinyl-White.svg);
                }
            }
        }
    }
    
    
    header {
        text-align: center;
        padding-bottom: 70px;
        background-repeat: no-repeat;
        background-position: bottom 30px center;

        @include grid-media($screen-md) {
            text-align: left;
            background-image: none;
            padding-bottom: 40px;
        }

        @include grid-media($screen-xs) {
            padding-bottom: 20px;
        }

        h2 {
            position: relative;
            &:before,
            &:after {
                content: ' ';
                width: 230px;
                height: 75px;
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                @include grid-media($screen-md) {
                    display: none;
                }
            }

            &:before {
                left: -237px;
            }
            &:after {
                right: -237px;
                transform: scaleX(-1) translateY(-50%);
            }
        }
    }
}


@include b('form') {
    header {
        text-align: center;
        padding-bottom: 70px;
        background-image: url(../Images/Drops-White.svg);
        background-repeat: no-repeat;
        background-position: bottom 30px center;
        display: block;
        @include clearfix;

        @include grid-media($screen-md) {
            padding-bottom: 40px;
            background-image: none;
        }

        h3 {
            display: inline;
            position: relative;
            width: auto;
            float: none;

            &:before,
            &:after {
                content: ' ';
                width: 230px;
                height: 75px;
                background-image: url(../Images/Vinyl-White.svg);
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                @include grid-media($screen-md) {
                    display: none;
                }
            }

            &:before {
                left: -247px;
            }
            &:after {
                right: -247px;
                transform: scaleX(-1) translateY(-50%);
            }
        }
    }
}