<footer class="footer">
    <div class="container">
        <div class="footer__address">
            <div class="footer__image">
                <f:image src="EXT:wedding_provider/Resources/Public/Images/Logo-Hochzeit-Janina-Andreas-weiss.png" width="200c" />
            </div>
            {footerAddress -> f:format.raw()}
        </div>
        <div class="footer__meta-menu">
            {footerMetaMenu -> f:format.raw()}
        </div>
    </div>
</footer>