<header class="header">

    <div class="container">

        <div class="header__logo">
            <a href="/">
                <f:image src="EXT:wedding_provider/Resources/Public/Images/Logo-Hochzeit-Janina-Andreas.png" width="100c" />
            </a>
        </div>
        <div class="header__burger-button">
            <button id="menuMainButton" class=" menu-button" role="button">
                <span class="menu-button__line menu-button__line--top"></span>
                <span class="menu-button__line menu-button__line--center"></span>
                <span class="menu-button__line menu-button__line--bottom"></span>
            </button>
        </div>

    </div>

    <f:render partial="Navigation/Main" arguments="{_all}"/>

</header>