$grid-content-width: 1200px;

$neat-grid: (
	columns: 12,
	gutter: 20px,
	media: '(min-width: 1201px)'
);

$screen-lg: (
	media: '(max-width: 1200px)'
);

$screen-md: (
	media: '(max-width: 1024px)'
);

$screen-sm: (
	media: '(max-width: 768px)'
);

$screen-xs: (
	gutter: 10px,
	media: '(max-width: 480px)'
);

@mixin grid-debug() {
	$color: rgba(#f00, 0.2);
	@include grid-visual($color);
	@each $grid in ($screen-lg $screen-md $screen-sm $screen-xs) {
		@include grid-media($grid) {
			@include grid-visual($color, $grid);
		}
	}
}

@function grid-column-width($columns: null, $grid: $neat-grid) {
	@return calc(#{_neat-column-width($grid, $columns)});
}

@function grid-column-padding($columns: null, $grid: $neat-grid) {
	@return percentage(_neat-column-ratio($neat-grid, 1));
}

@function grid-gutter-width($grid: $neat-grid) {
	@return _retrieve-neat-setting($grid, gutter);
}

@mixin container($responsive: true) {
	@include grid-container();
	max-width: $grid-content-width;
	margin: 0 auto;
	@include clearfix;

	@if ($responsive) {
		@include grid-media($screen-lg) {
			@include margin(null grid-gutter-width());
		}

		@include grid-media($screen-xs) {
			@include margin(null grid-gutter-width());
		}
	}
}

@mixin grid-column-responsive($columns) {

	@include grid-column($columns);
	@include grid-media($screen-md) {
		@include grid-column($columns);
	}
	@include grid-media($screen-sm) {
		@include grid-column($columns);
	}
	@include grid-media($screen-xs) {
		@include grid-column($columns);
	}
}

.container {
	@include container;
}

.grid {
	@include clearfix;

	&__column {
		@include clearfix;
	}

	&--1x1 {
		.grid__column {
			@include grid-column-responsive(12);
		}
	}

	&--2x1 {
		.grid__column {
			@include grid-column(6);
			@include grid-media($screen-sm) {
				@include grid-column(12);
			}
			@include grid-media($screen-xs) {
				@include grid-column(12);
			}
		}
	}

	&--3x1 {
		.grid__column {
			@include grid-column(4);
			@include grid-media($screen-sm) {
				@include grid-column(12);
			}
			@include grid-media($screen-xs) {
				@include grid-column(12);
			}
		}
	}

	&--4x1 {
		.grid__column {
			@include grid-column(3);
			@include grid-media($screen-sm) {
				@include grid-column(12);
			}
			@include grid-media($screen-xs) {
				@include grid-column(12);
			}
		}
	}
}
