$webfontDir: '../Webfonts/';

@font-face {
    font-family: "Amatic SC";
    font-weight: 400;
    src: url("../Webfonts/AmaticSC/AmaticSC-Regular.ttf");
}

@font-face {
    font-family: "Amatic SC";
    font-weight: 700;
    src: url("../Webfonts/AmaticSC/AmaticSC-Bold.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 300;
    src: url("../Webfonts/Raleway/Raleway-Light.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 400;
    src: url("../Webfonts/Raleway/Raleway-Regular.ttf");
}

@font-face {
    font-family: "Raleway";
    font-weight: 500;
    src: url("../Webfonts/Raleway/Raleway-Medium.ttf");
}