@include b('form') {
    padding: 50px 0;

    @include m('red-background') {
        background-color: $color-red;

        h1, h2, h3, h4, h5, h6, p, label, legend, ul li, strong, td {
            color: $color-white !important;
        }

        @include e('page') {
            border: 1px solid $color-white;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        @include grid-column(12);
        margin-top: 0;
        margin-bottom: 50px;
    }

    input,
    select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid $color-white;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: white;
    }
    @include b('button') {
        background-color: tint($color-red, 20%);
    }
    input[type="date"] {
        padding: 5px 8px;
    }

    textarea {
        width: 100%;
        height: 200px;
        border: 1px solid $color-white;
        padding: 8px;
    }

    select {
        background-color: $color-white;
        border-radius: 0;
        border: 1px solid $color-white;
    }

    input[type="submit"] {
        border: none;
        font-size: 16px;
        color: $color-white;
        border: 2px solid tint($color-red, 20%);
        width: auto;
        padding: 8px 20px;
        float: right;
        cursor: pointer;

        &:hover {
            background-color: tint($color-red, 10%);
        }
    }

    @include e('page') {
        @include grid-column(6);
        padding: 20px 0;

        * {
            font-family: "Raleway", Helvetica, Arial, sans-serif;
            font-size: 16px;
        }

        @include grid-media($screen-sm) {
            @include grid-column(12);
            margin-bottom: 20px;
        }

        @include grid-media($screen-xs) {
            @include grid-column(12);
        }

        @include e('page-caption') {
            margin-left: 10px;
            padding: 0 10px;
            display: inline-block;
            background-color: $color-red;
        }

        @include e('fieldwrap') {
            margin-bottom: 15px;
            position: relative;

			&.width100 {
				@include grid-column(12);
			}
			&.width50 {
				@include grid-column(6);

				@include grid-media($screen-xs) {
					@include grid-column(12);
				}
			}

            .powermail_field {
                @include clearfix;

                ul {
                    margin: 0;
                    border: 1px solid $color-white;
                    @include clearfix;

                    li {
                        list-style: none outside none;
                        line-height: 20px;
                        padding: 5px;
                        color: $color-white;
                    }
                }
            }

            @include m('checkbox') {
                @include grid-column(12);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }

                @include e('label') {
                    display: none;
                }

                label {
                    display: block;

                    input {
                        width: 70px;
                        height: 35px;
                        border-radius: 35px;
                        background-color: shade($color-lightgray, 10%);
                        position: relative;
                        transition: 0.3s ease-in-out all;
                        border: 1px solid tint($color-red, 60%);
                        display: block;
                        float: left;

                        &:checked {
                            background-color: tint($color-red, 40%);

                            &:after {
                                left: 35px;
                            }
                        }

                        &:after {
                            content: ' ';
                            position: absolute;
                            display: block;
                            width: 35px;
                            height: 35px;
                            border-radius: 35px;
                            background-color: $color-white;
                            top: 0;
                            left: 0;
                            transition: 0.3s ease-in-out all;
                            box-shadow: 1px 1px 3px rgba($color-black, 0.1);
                        }
                    }

                    span {
                        position: relative;
                        display: inline-block;
                        width: calc(100% - 85px);
                        padding-left: 15px;
                        margin-top: 8px;
                    }
                }
            }

            @include m('lastname') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('firstname') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('number-persons') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('number-children') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }

            @include m('age-child-1' 'age-child-2' 'age-child-3' 'age-child-4' 'age-child-5') {
                @include grid-column(12);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
                .powermail_field {
                    float: left;
                    width: 50px;
                }
                label {
                    display: inline;
                    float: right;
                    margin-top: 7px;
                    width: calc(100% - 60px);
                }
            }

            @include m('email') {
                @include grid-column(12);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('date-arrival') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('date-departure') {
                @include grid-column(6);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('type-of-housing') {
                @include grid-column(12);

                @include grid-media($screen-xs) {
                    @include grid-column(12);
                }
            }
            @include m('your-message') {
                @include grid-column(12);
            }
            @include m('captcha') {
                @include grid-column(12);

                input {
                    width: 30%;

                    @include grid-media($screen-sm) {
                        width: 100%;
                    }
                }

                img {
                    width: 65%;
                    float: right;
                    position: relative;
                    top: -15px;

                    @include grid-media($screen-sm) {
                        top: 0;
                        margin-top: 5px;
                        float: left;
                    }
                }
            }
            @include m('submit') {
                @include grid-column(12);
                margin-bottom: 0;
            }
        }
    }
}

.powermail_all_label {
	margin-right: 15px;
	display: inline-block;
}

.powermail_fieldwrap {

	&.powermail_fieldwrap_type_content.width100 {
		@include grid-column(12);
	}
}
