@include b('grid') {
    @include m('1x1') {
        padding: 90px 0;

        @include grid-media($screen-sm) {
            padding: 50px 0;
        }

        @include e('column') {
            h1, h2, h3, h4, h5, h6 {
                margin: 10px 0 30px;

				@include grid-media($screen-md) {
					display: block;
					margin: 0;
				}
            }
        }
    }

    @include m('small-columns') {
        @include e('column') {
            @include grid-column(8);
            @include grid-push(2);

            @include grid-media($screen-sm) {
                @include grid-column(12);
            }
			@include grid-media($screen-xs) {
				@include grid-column(12);
			}
        }
    }

    @include m('centered-text') {
        h1, h2, h3, h4, h5, h6, p {
            text-align: center;
        }
		p {
			text-align: center;
		}
    }

    @include m('red') {
        background-color: $color-red;
        color: $color-white;

        * {
            color: $color-white;
        }
    }

    @include m('light-grey') {
        background: $color-lightgray;
    }
}
