@include b('grid') {
    padding: 90px 0;

    @include grid-media($screen-sm) {
        padding: 50px 0;
    }
    @include m('2x1') {

        @include e('headline') {
            @include grid-column(12);

            @include grid-media($screen-xs) {
                @include grid-column(12);
            }

            h2 {
                margin: 10px 0;
                text-align: center;

                @include grid-media($screen-sm) {
                    text-align: left;
                }
            }
        }

        @include e('column') {
            &:first-of-type {
                padding-right: 20px;

                @include grid-media($screen-sm) {
                    padding-right: 0;
                }
            }
            &:last-of-type {
                padding-left: 20px;

                @include grid-media($screen-sm) {
                    padding-left: 0;
                }
            }
        }
        
    }
}