@include b('footer') {
    background-color: $color-darkgray;
    color: $color-white;
    padding: 50px 0;

    @include e('address') {
        @include grid-column(6);

        @include grid-media($screen-sm) {
            @include grid-column(12);

            text-align: center;
        }

        @include e('image') {
            img {
                width: 100px;
                height: auto;
            }
        }

        a {
            color: $color-white;
        }
    }

    @include e('meta-menu') {
        @include grid-column(6);

        @include grid-media($screen-sm) {
            @include grid-column(12);
        }

        @include b('meta-menu') {
            text-align: right;

            @include grid-media($screen-sm) {
                text-align: center;
            }

            li {
                list-style: none outside none;
                display: inline-block;
                padding: 0 5px;

                &:last-of-type {
                    padding-right: 0;
                }
                a {
                    color: $color-white;
                }
            }
        }
    }
}