@include b('header') {
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: .3s ease-in-out background-color;
    
    @include m('scrolled') {
        background-color: $color-white;

        @include e('logo') {
            opacity: 1;

            img {

                @include grid-media($screen-xs) {
                    width: 60px;
                    height: auto;
                }
            }
        }
    }

    @include e('logo') {
        @include grid-column(6);
        opacity: 0;
        transition: .3s ease-in-out opacity;

        @include grid-media($screen-xs) {
            @include grid-column(6);
        }
    }

    @include e('burger-button') {
        @include grid-column(6);
        text-align: right;
        margin-top: 15px;

        @include grid-media($screen-xs) {
            @include grid-column(6);
            margin-top: 0;
        }
    }
}