body {
    font-family: sans-serif;
    color: $color-text;
    font-size: 16px;
    line-height: 1.25em;
}

h1, h2, h3, h4, h5 {
    margin: 1em 0;
    font-family: "Amatic SC", sans-serif;
    color: $color-red;
    font-weight: 400;
    hyphens: auto;
}

h1 {
    font-size: 72px;
    line-height: 72px;

    @include grid-media($screen-sm) {
        font-size: 48px;
        line-height: 48px;
    }
}

h2 {
    font-size: 54px;
    line-height: 54px;
    position: relative;
    display: inline;
}

h3 {
    font-size: 46px;
    line-height: 46px;

    @include grid-media($screen-sm) {
        font-size: 24px;
        line-height: 24px;
    }
}

p, ul, ol, table {
    margin: 1em 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px
}

ul, ol {
    margin-left: 1.5rem;
}