[role="button"] {
  cursor: pointer; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 1200px) {
    .container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .container {
      margin-right: 10px;
      margin-left: 10px; } }

.grid::after {
  clear: both;
  content: "";
  display: table; }

.grid__column::after {
  clear: both;
  content: "";
  display: table; }

.grid--1x1 .grid__column {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 1024px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 768px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--2x1 .grid__column {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--2x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--2x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--3x1 .grid__column {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--3x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--3x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--4x1 .grid__column {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--4x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--4x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

@font-face {
  font-family: "Amatic SC";
  font-weight: 400;
  src: url("../Webfonts/AmaticSC/AmaticSC-Regular.ttf"); }

@font-face {
  font-family: "Amatic SC";
  font-weight: 700;
  src: url("../Webfonts/AmaticSC/AmaticSC-Bold.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../Webfonts/Raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../Webfonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../Webfonts/Raleway/Raleway-Medium.ttf"); }

body {
  font-family: sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.25em; }

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  font-family: "Amatic SC", sans-serif;
  color: #BD2525;
  font-weight: 400;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 72px;
  line-height: 72px; }
  @media (max-width: 768px) {
    h1 {
      font-size: 48px;
      line-height: 48px; } }

h2 {
  font-size: 54px;
  line-height: 54px;
  position: relative;
  display: inline; }

h3 {
  font-size: 46px;
  line-height: 46px; }
  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
      line-height: 24px; } }

p, ul, ol, table {
  margin: 1em 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px; }

ul, ol {
  margin-left: 1.5rem; }

.typo3-rte {
  padding: 1em; }
