[role="button"] {
  cursor: pointer; }

.container {
  max-width: 1200px;
  margin: 0 auto; }
  .container::after {
    clear: both;
    content: "";
    display: block; }
  .container::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 1200px) {
    .container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .container {
      margin-right: 10px;
      margin-left: 10px; } }

.grid::after {
  clear: both;
  content: "";
  display: table; }

.grid__column::after {
  clear: both;
  content: "";
  display: table; }

.grid--1x1 .grid__column {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 1024px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 768px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--1x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--2x1 .grid__column {
  width: calc(50% - 30px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--2x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--2x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--3x1 .grid__column {
  width: calc(33.33333% - 26.66667px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--3x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--3x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid--4x1 .grid__column {
  width: calc(25% - 25px);
  float: left;
  margin-left: 20px; }
  @media (max-width: 768px) {
    .grid--4x1 .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid--4x1 .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

*, *:before, *:after {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

@font-face {
  font-family: "Amatic SC";
  font-weight: 400;
  src: url("../Webfonts/AmaticSC/AmaticSC-Regular.ttf"); }

@font-face {
  font-family: "Amatic SC";
  font-weight: 700;
  src: url("../Webfonts/AmaticSC/AmaticSC-Bold.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 300;
  src: url("../Webfonts/Raleway/Raleway-Light.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  src: url("../Webfonts/Raleway/Raleway-Regular.ttf"); }

@font-face {
  font-family: "Raleway";
  font-weight: 500;
  src: url("../Webfonts/Raleway/Raleway-Medium.ttf"); }

body {
  font-family: sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.25em; }

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  font-family: "Amatic SC", sans-serif;
  color: #BD2525;
  font-weight: 400;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

h1 {
  font-size: 72px;
  line-height: 72px; }
  @media (max-width: 768px) {
    h1 {
      font-size: 48px;
      line-height: 48px; } }

h2 {
  font-size: 54px;
  line-height: 54px;
  position: relative;
  display: inline; }

h3 {
  font-size: 46px;
  line-height: 46px; }
  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
      line-height: 24px; } }

p, ul, ol, table {
  margin: 1em 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px; }

ul, ol {
  margin-left: 1.5rem; }

.header {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: .3s ease-in-out background-color;
  transition: .3s ease-in-out background-color; }
  .header.header--scrolled {
    background-color: #ffffff; }
    .header.header--scrolled .header__logo {
      opacity: 1; }
      @media (max-width: 480px) {
        .header.header--scrolled .header__logo img {
          width: 60px;
          height: auto; } }
  .header .header__logo {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    opacity: 0;
    -webkit-transition: .3s ease-in-out opacity;
    transition: .3s ease-in-out opacity; }
    @media (max-width: 480px) {
      .header .header__logo {
        width: calc(50% - 15px);
        float: left;
        margin-left: 10px; } }
  .header .header__burger-button {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    text-align: right;
    margin-top: 15px; }
    @media (max-width: 480px) {
      .header .header__burger-button {
        width: calc(50% - 15px);
        float: left;
        margin-left: 10px;
        margin-top: 0; } }

.footer {
  background-color: #404040;
  color: #ffffff;
  padding: 50px 0; }
  .footer .footer__address {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
    @media (max-width: 768px) {
      .footer .footer__address {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px;
        text-align: center; } }
    .footer .footer__address .footer__image img {
      width: 100px;
      height: auto; }
    .footer .footer__address a {
      color: #ffffff; }
  .footer .footer__meta-menu {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px; }
    @media (max-width: 768px) {
      .footer .footer__meta-menu {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; } }
    .footer .footer__meta-menu .meta-menu {
      text-align: right; }
      @media (max-width: 768px) {
        .footer .footer__meta-menu .meta-menu {
          text-align: center; } }
      .footer .footer__meta-menu .meta-menu li {
        list-style: none outside none;
        display: inline-block;
        padding: 0 5px; }
        .footer .footer__meta-menu .meta-menu li:last-of-type {
          padding-right: 0; }
        .footer .footer__meta-menu .meta-menu li a {
          color: #ffffff; }

.stage {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1; }
  @media (max-width: 480px) {
    .stage {
      overflow: hidden; } }
  .stage.stage--image {
    height: 100vh; }
    .stage.stage--image .stage__logo {
      position: initial !important;
      top: initial !important;
      left: initial !important; }
    .stage.stage--image .stage__header {
      position: initial !important;
      top: initial !important; }
  .stage:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); }
  .stage .stage__content {
    width: 1200px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }
    @media (max-width: 1200px) {
      .stage .stage__content {
        width: 100%;
        padding: 0 10px; } }
    @media (max-width: 480px) {
      .stage .stage__content .stage__logo {
        position: absolute;
        top: 0;
        left: 20px; } }
    .stage .stage__content .stage__logo img {
      width: 200px;
      height: auto; }
      @media (max-width: 768px) {
        .stage .stage__content .stage__logo img {
          width: 100px; } }
    @media (max-width: 480px) {
      .stage .stage__content .stage__header {
        position: relative;
        top: 20px; } }
    .stage .stage__content .stage__header h1 {
      margin: 1em 0 30px; }
    .stage .stage__content .stage__day-location p {
      font-size: 24px;
      font-weight: 300; }
      @media (max-width: 768px) {
        .stage .stage__content .stage__day-location p {
          font-size: 18px; } }
    .stage .stage__content .stage__stay-tuned {
      position: relative;
      top: 50px; }
  .stage .stage__video {
    width: 100%; }
    @media (max-width: 480px) {
      .stage .stage__video {
        height: 280px;
        width: auto; } }

.google-maps {
  width: 100%;
  height: 600px; }

.goolge-maps-infowindow h3 {
  margin: 0 0 20px;
  font-size: 34px; }

.text-image-teaser {
  position: relative; }
  .text-image-teaser::after {
    clear: both;
    content: "";
    display: table; }
  .text-image-teaser h2 {
    margin-top: 0; }
  .text-image-teaser.text-image-teaser--lightgrey {
    background-color: #efefef; }
  .text-image-teaser.text-image-teaser--red {
    background-color: #BD2525; }
    .text-image-teaser.text-image-teaser--red h2 {
      color: #ffffff; }
    .text-image-teaser.text-image-teaser--red p {
      color: #ffffff !important; }
  .text-image-teaser.text-image-teaser--right .text-image-teaser__background {
    right: 0; }
  .text-image-teaser.text-image-teaser--right .text-image-teaser__foreground .text-image-teaser__content {
    margin-left: 0; }
  .text-image-teaser.text-image-teaser--left .text-image-teaser__background {
    left: 0; }
  .text-image-teaser .text-image-teaser__background {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0; }
    @media (max-width: 768px) {
      .text-image-teaser .text-image-teaser__background {
        width: 100%;
        position: relative;
        top: initial; }
        .text-image-teaser .text-image-teaser__background:after {
          content: ' ';
          display: block;
          position: relative;
          padding-top: calc(100% / 3 * 2); } }
    .text-image-teaser .text-image-teaser__background .text-image-teaser__image {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-position: center center;
      background-size: cover; }
  .text-image-teaser .text-image-teaser__foreground {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    .text-image-teaser .text-image-teaser__foreground .text-image-teaser__content {
      width: calc(50% - 30px);
      float: left;
      margin-left: 20px;
      margin-left: calc(50% - 30px + 40px);
      padding: 50px 20px; }
      @media (max-width: 768px) {
        .text-image-teaser .text-image-teaser__foreground .text-image-teaser__content {
          width: 100%;
          margin: 0; } }
      @media (max-width: 480px) {
        .text-image-teaser .text-image-teaser__foreground .text-image-teaser__content {
          padding: 50px 10px; } }

.vcard {
  background-color: #efefef;
  padding: 60px 0; }
  .vcard::after {
    clear: both;
    content: "";
    display: table; }
  .vcard .vcard__intro {
    max-width: 1200px;
    margin: 0 auto; }
    .vcard .vcard__intro::after {
      clear: both;
      content: "";
      display: block; }
    .vcard .vcard__intro::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 1200px) {
      .vcard .vcard__intro {
        margin-right: 20px;
        margin-left: 20px; } }
    @media (max-width: 480px) {
      .vcard .vcard__intro {
        margin-right: 10px;
        margin-left: 10px; } }
    .vcard .vcard__intro .vcard__headline {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; }
      @media (max-width: 480px) {
        .vcard .vcard__intro .vcard__headline {
          width: calc(100% - 20px);
          float: left;
          margin-left: 10px; } }
    .vcard .vcard__intro .vcard__content {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; }
      @media (max-width: 480px) {
        .vcard .vcard__intro .vcard__content {
          width: calc(100% - 20px);
          float: left;
          margin-left: 10px; } }
  .vcard .vcard__collection {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0; }
    .vcard .vcard__collection::after {
      clear: both;
      content: "";
      display: block; }
    .vcard .vcard__collection::after {
      clear: both;
      content: "";
      display: table; }
    @media (max-width: 1200px) {
      .vcard .vcard__collection {
        margin-right: 20px;
        margin-left: 20px; } }
    @media (max-width: 480px) {
      .vcard .vcard__collection {
        margin-right: 10px;
        margin-left: 10px; } }
    .vcard .vcard__collection::after {
      clear: both;
      content: "";
      display: table; }
    .vcard .vcard__collection .vcard__item {
      background-color: #ffffff;
      margin: 20px;
      -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
      @media (max-width: 480px) {
        .vcard .vcard__collection .vcard__item {
          margin: 20px 10px; } }
      .vcard .vcard__collection .vcard__item .vcard__icon {
        width: 100px;
        height: 100px;
        float: left;
        background-color: #BD2525;
        position: relative; }
        .vcard .vcard__collection .vcard__item .vcard__icon .icon {
          width: 100px;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          display: block; }
          .vcard .vcard__collection .vcard__item .vcard__icon .icon.icon--house {
            background-repeat: no-repeat;
            background-size: 50px;
            background-position: center center;
            background-image: url(../Icons/Content/White/house.svg); }
          .vcard .vcard__collection .vcard__item .vcard__icon .icon.icon--apartment {
            background-repeat: no-repeat;
            background-size: 40px;
            background-position: center center;
            background-image: url(../Icons/Content/White/apartment.svg); }
          .vcard .vcard__collection .vcard__item .vcard__icon .icon.icon--hotel {
            background-repeat: no-repeat;
            background-size: 50px;
            background-position: center center;
            background-image: url(../Icons/Content/White/hotel.svg); }
      .vcard .vcard__collection .vcard__item .vcard__content {
        float: right;
        width: calc(100% - 120px);
        padding: 5px 0; }
        @media (max-width: 480px) {
          .vcard .vcard__collection .vcard__item .vcard__content {
            width: calc(100% - 110px); } }
        .vcard .vcard__collection .vcard__item .vcard__content .vcard__title h3 {
          font-size: 28px;
          line-height: 30px;
          margin: 0 0 8px; }
        .vcard .vcard__collection .vcard__item .vcard__content .vcard__link a {
          color: #404040; }
  .vcard .slick-arrow {
    width: 30px;
    height: 30px;
    position: absolute;
    left: calc(50% - 200px);
    bottom: 40px;
    -webkit-transform: translateX(-50%) rotate(-45deg);
    transform: translateX(-50%) rotate(-45deg);
    font-size: 0px;
    background-color: transparent; }
    .vcard .slick-arrow.slick-prev {
      left: calc(50% - 200px);
      border-top: 4px solid #BD2525;
      border-right: none;
      border-bottom: none;
      border-left: 4px solid #BD2525; }
    .vcard .slick-arrow.slick-next {
      left: calc(50% + 200px);
      border-top: none;
      border-right: 4px solid #BD2525;
      border-bottom: 4px solid #BD2525;
      border-left: none; }
  .vcard .slick-dots {
    line-height: 0;
    text-align: center;
    margin-top: 30px; }
    .vcard .slick-dots li {
      display: inline-block;
      list-style: none outside none;
      padding: 0;
      margin: 0 5px;
      line-height: 0; }
      .vcard .slick-dots li.slick-active button:before, .vcard .slick-dots li.slick-active button:after {
        background-color: #000000; }
      .vcard .slick-dots li button {
        width: 33px;
        height: 30px;
        background-color: transparent;
        border: none;
        position: relative;
        font-size: 0px;
        margin: 0 1px;
        padding: 0;
        cursor: pointer; }
        .vcard .slick-dots li button:hover:before, .vcard .slick-dots li button:hover:after {
          background-color: #000000; }
        .vcard .slick-dots li button:before {
          content: ' ';
          position: absolute;
          display: block;
          top: 4px;
          left: 6px;
          width: 25px;
          height: 16px;
          background-color: #BD2525;
          border-radius: 0 8px 8px 0;
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .vcard .slick-dots li button:after {
          content: ' ';
          position: absolute;
          display: block;
          top: 4px;
          left: 0px;
          width: 25px;
          height: 16px;
          background-color: #BD2525;
          border-radius: 0 8px 8px 0;
          -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg); }

.accordion {
  margin: 50px 0; }
  .accordion .accordion__list {
    margin: 0;
    padding: 0; }
    .accordion .accordion__list .accordion__list-item {
      list-style: none outside none;
      margin: 0 0 30px 10px; }
      @media (max-width: 480px) {
        .accordion .accordion__list .accordion__list-item {
          margin: 0 0 30px 0; } }
      .accordion .accordion__list .accordion__list-item .accordion__header {
        background-image: none;
        padding: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 2;
        width: calc(100% + 1px);
        background-color: #BD2525;
        border-radius: 50px 0 0 50px; }
        @media (max-width: 480px) {
          .accordion .accordion__list .accordion__list-item .accordion__header {
            border-radius: 0; } }
        .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button {
          height: 100px;
          width: 100px;
          background-color: #d16666;
          border-radius: 50%;
          border: 5px solid #efefef;
          top: 0;
          left: -15px;
          position: absolute;
          cursor: pointer;
          -webkit-transition: .3s ease-in-out background-color;
          transition: .3s ease-in-out background-color; }
          @media (max-width: 480px) {
            .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button {
              height: 50px;
              width: 50px;
              top: 50%;
              left: -5px;
              border: 4px solid #efefef;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%); } }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:hover {
            background-color: #de9292; }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button.accordion__button--active:before {
            opacity: 0; }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:before, .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:after {
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: #ffffff; }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:before {
            width: 4px;
            height: 40px;
            -webkit-transition: .3s ease-in-out opacity;
            transition: .3s ease-in-out opacity; }
            @media (max-width: 480px) {
              .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:before {
                height: 20px; } }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:after {
            width: 40px;
            height: 4px; }
            @media (max-width: 480px) {
              .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline .accordion__button:after {
                width: 20px; } }
        .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline h3 {
          text-align: left;
          color: #ffffff;
          padding: 12px 10px 6px;
          font-size: 36px;
          line-height: 38px;
          margin: 0 0 0 100px; }
          @media (max-width: 480px) {
            .accordion .accordion__list .accordion__list-item .accordion__header .accordion__headline h3 {
              font-size: 28px;
              line-height: 34px;
              margin: 0 0 0 50px; } }
        .accordion .accordion__list .accordion__list-item .accordion__header .accordion__subline {
          color: #ffffff;
          text-align: left;
          padding: 3px 0 3px 110px;
          border-top: 2px dashed #ffffff; }
          @media (max-width: 480px) {
            .accordion .accordion__list .accordion__list-item .accordion__header .accordion__subline {
              padding: 5px 0 5px 60px; } }
          .accordion .accordion__list .accordion__list-item .accordion__header .accordion__subline .accordion__sub-header {
            display: inline-block;
            padding: 2px 0; }
      .accordion .accordion__list .accordion__list-item .accordion__content {
        background-color: #ffffff;
        margin-left: 56px;
        padding: 5px 52px;
        text-align: left;
        display: none;
        -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: relative;
        z-index: 1; }
        @media (max-width: 480px) {
          .accordion .accordion__list .accordion__list-item .accordion__content {
            margin-left: 0;
            padding: 5px 20px; } }
        .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text.accordion__text--centered {
          margin: 40px 0; }
          .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text.accordion__text--centered h3 {
            margin: 0;
            text-align: center; }
          .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text.accordion__text--centered p {
            margin: 5px;
            text-align: center; }
            .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text.accordion__text--centered p:after {
              content: ' ';
              width: 100%;
              height: 60px;
              display: block;
              position: relative;
              background-image: url(../Images/Drops-Red.svg);
              background-repeat: no-repeat;
              background-position: center center; }
            .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text.accordion__text--centered p:last-of-type:after {
              background-image: none;
              height: 20px; }
        .accordion .accordion__list .accordion__list-item .accordion__content .accordion__text p {
          text-align: left; }
        .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint {
          border: 5px solid #BD2525;
          margin-bottom: 20px;
          padding: 0 20px; }
          .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint::after {
            clear: both;
            content: "";
            display: table; }
          .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint .accordion__covid-header {
            margin: 20px 0; }
            .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint .accordion__covid-header img {
              float: left;
              position: relative;
              top: 6px; }
            .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint .accordion__covid-header header {
              background-image: none;
              float: left;
              width: calc(100% - 50px);
              padding: 0 0 0 20px; }
              .accordion .accordion__list .accordion__list-item .accordion__content .accordion__covid-hint .accordion__covid-header header h3 {
                text-align: left; }

.grid.grid--1x1 {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .grid.grid--1x1 {
      padding: 50px 0; } }
  .grid.grid--1x1 .grid__column h1, .grid.grid--1x1 .grid__column h2, .grid.grid--1x1 .grid__column h3, .grid.grid--1x1 .grid__column h4, .grid.grid--1x1 .grid__column h5, .grid.grid--1x1 .grid__column h6 {
    margin: 10px 0 30px; }
    @media (max-width: 1024px) {
      .grid.grid--1x1 .grid__column h1, .grid.grid--1x1 .grid__column h2, .grid.grid--1x1 .grid__column h3, .grid.grid--1x1 .grid__column h4, .grid.grid--1x1 .grid__column h5, .grid.grid--1x1 .grid__column h6 {
        display: block;
        margin: 0; } }

.grid.grid--small-columns .grid__column {
  width: calc(66.66667% - 33.33333px);
  float: left;
  margin-left: 20px;
  margin-left: calc(16.66667% - 23.33333px + 40px); }
  @media (max-width: 768px) {
    .grid.grid--small-columns .grid__column {
      width: calc(100% - 40px);
      float: left;
      margin-left: 20px; } }
  @media (max-width: 480px) {
    .grid.grid--small-columns .grid__column {
      width: calc(100% - 20px);
      float: left;
      margin-left: 10px; } }

.grid.grid--centered-text h1, .grid.grid--centered-text h2, .grid.grid--centered-text h3, .grid.grid--centered-text h4, .grid.grid--centered-text h5, .grid.grid--centered-text h6, .grid.grid--centered-text p {
  text-align: center; }

.grid.grid--centered-text p {
  text-align: center; }

.grid.grid--red {
  background-color: #BD2525;
  color: #ffffff; }
  .grid.grid--red * {
    color: #ffffff; }

.grid.grid--light-grey {
  background: #efefef; }

.grid {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .grid {
      padding: 50px 0; } }
  .grid.grid--2x1 .grid__headline {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px; }
    @media (max-width: 480px) {
      .grid.grid--2x1 .grid__headline {
        width: calc(100% - 20px);
        float: left;
        margin-left: 10px; } }
    .grid.grid--2x1 .grid__headline h2 {
      margin: 10px 0;
      text-align: center; }
      @media (max-width: 768px) {
        .grid.grid--2x1 .grid__headline h2 {
          text-align: left; } }
  .grid.grid--2x1 .grid__column:first-of-type {
    padding-right: 20px; }
    @media (max-width: 768px) {
      .grid.grid--2x1 .grid__column:first-of-type {
        padding-right: 0; } }
  .grid.grid--2x1 .grid__column:last-of-type {
    padding-left: 20px; }
    @media (max-width: 768px) {
      .grid.grid--2x1 .grid__column:last-of-type {
        padding-left: 0; } }

.ce-textpic .ce-gallery a,
.ce-image .ce-gallery a {
  display: block;
  width: 100%; }

.ce-textpic .ce-gallery img,
.ce-image .ce-gallery img {
  width: 100%;
  height: auto; }

.image-gallery {
  width: 100%;
  padding: 0 4px; }
  .image-gallery::after {
    clear: both;
    content: "";
    display: table; }
  .image-gallery .image-gallery__link:hover .image-gallery__hover {
    opacity: 1; }
  .image-gallery .image-gallery__link .image-gallery__hover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out opacity;
    transition: 0.3s ease-in-out opacity; }
    .image-gallery .image-gallery__link .image-gallery__hover:after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 50px;
      height: 50px;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-image: url(../Icons/Content/White/search-plus.svg); }
  .image-gallery .image-gallery__link img {
    width: calc(100% - 1px);
    height: auto; }
  .image-gallery .image-gallery__link .image-gallery__copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff; }

.menu-button {
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: none;
  float: right;
  position: relative;
  z-index: 2; }
  .menu-button.menu-button--open .menu-button__line {
    background-color: #ffffff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    .menu-button.menu-button--open .menu-button__line.menu-button__line--top {
      top: 50%;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-button.menu-button--open .menu-button__line.menu-button__line--center {
      opacity: 0; }
    .menu-button.menu-button--open .menu-button__line.menu-button__line--bottom {
      bottom: 50%;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .menu-button .menu-button__line {
    width: 100%;
    height: 2px;
    background-color: #BD2525;
    position: absolute;
    left: 0;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all; }
    .menu-button .menu-button__line.menu-button__line--top {
      top: 0; }
    .menu-button .menu-button__line.menu-button__line--center {
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
    .menu-button .menu-button__line.menu-button__line--bottom {
      bottom: 0; }

.menu {
  background-color: rgba(189, 37, 37, 0.95);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: -9999px;
  z-index: 1;
  -webkit-transition: .3s linear opacity;
  transition: .3s linear opacity;
  opacity: 0; }
  .menu.menu--open {
    left: 0;
    opacity: 1; }
  .menu.menu--main .menu__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media (max-width: 480px) {
      .menu.menu--main .menu__nav {
        width: 100%; } }
    .menu.menu--main .menu__nav .menu__list .menu__list-item {
      list-style: none outside none;
      text-align: center; }
      .menu.menu--main .menu__nav .menu__list .menu__list-item a {
        font-size: 26px;
        text-decoration: none;
        line-height: 34px;
        padding: 10px 20px;
        display: block;
        color: #ffffff;
        -webkit-transition: .3s linear all;
        transition: .3s linear all; }
        .menu.menu--main .menu__nav .menu__list .menu__list-item a:hover {
          background-color: #ffffff;
          color: #BD2525; }

.grid.grid--lightgrey {
  background-color: #efefef; }

.grid.grid--white header {
  background-image: url(../Images/Drops-Red.svg); }
  @media (max-width: 1024px) {
    .grid.grid--white header {
      background-image: none; } }
  .grid.grid--white header h2:before, .grid.grid--white header h2:after {
    background-image: url(../Images/Vinyl-Red.svg); }

.grid.grid--lightgrey header {
  background-image: url(../Images/Drops-Red.svg); }
  @media (max-width: 1024px) {
    .grid.grid--lightgrey header {
      background-image: none; } }
  .grid.grid--lightgrey header h2:before, .grid.grid--lightgrey header h2:after {
    background-image: url(../Images/Vinyl-Red.svg); }

.grid.grid--red header {
  background-image: url(../Images/Drops-White.svg); }
  @media (max-width: 1024px) {
    .grid.grid--red header {
      background-image: none; } }
  .grid.grid--red header h2:before, .grid.grid--red header h2:after {
    background-image: url(../Images/Vinyl-White.svg); }

.grid header {
  text-align: center;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-position: bottom 30px center; }
  @media (max-width: 1024px) {
    .grid header {
      text-align: left;
      background-image: none;
      padding-bottom: 40px; } }
  @media (max-width: 480px) {
    .grid header {
      padding-bottom: 20px; } }
  .grid header h2 {
    position: relative; }
    .grid header h2:before, .grid header h2:after {
      content: ' ';
      width: 230px;
      height: 75px;
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        .grid header h2:before, .grid header h2:after {
          display: none; } }
    .grid header h2:before {
      left: -237px; }
    .grid header h2:after {
      right: -237px;
      -webkit-transform: scaleX(-1) translateY(-50%);
      transform: scaleX(-1) translateY(-50%); }

.form header {
  text-align: center;
  padding-bottom: 70px;
  background-image: url(../Images/Drops-White.svg);
  background-repeat: no-repeat;
  background-position: bottom 30px center;
  display: block; }
  .form header::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 1024px) {
    .form header {
      padding-bottom: 40px;
      background-image: none; } }
  .form header h3 {
    display: inline;
    position: relative;
    width: auto;
    float: none; }
    .form header h3:before, .form header h3:after {
      content: ' ';
      width: 230px;
      height: 75px;
      background-image: url(../Images/Vinyl-White.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media (max-width: 1024px) {
        .form header h3:before, .form header h3:after {
          display: none; } }
    .form header h3:before {
      left: -247px; }
    .form header h3:after {
      right: -247px;
      -webkit-transform: scaleX(-1) translateY(-50%);
      transform: scaleX(-1) translateY(-50%); }

.form {
  padding: 50px 0; }
  .form.form--red-background {
    background-color: #BD2525; }
    .form.form--red-background h1, .form.form--red-background h2, .form.form--red-background h3, .form.form--red-background h4, .form.form--red-background h5, .form.form--red-background h6, .form.form--red-background p, .form.form--red-background label, .form.form--red-background legend, .form.form--red-background ul li, .form.form--red-background strong, .form.form--red-background td {
      color: #ffffff !important; }
    .form.form--red-background .form__page {
      border: 1px solid #ffffff; }
  .form h1, .form h2, .form h3, .form h4, .form h5, .form h6 {
    width: calc(100% - 40px);
    float: left;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 50px; }
  .form input,
  .form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .form input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: white; }
  .form .button {
    background-color: #ca5151; }
  .form input[type="date"] {
    padding: 5px 8px; }
  .form textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #ffffff;
    padding: 8px; }
  .form select {
    background-color: #ffffff;
    border-radius: 0;
    border: 1px solid #ffffff; }
  .form input[type="submit"] {
    border: none;
    font-size: 16px;
    color: #ffffff;
    border: 2px solid #ca5151;
    width: auto;
    padding: 8px 20px;
    float: right;
    cursor: pointer; }
    .form input[type="submit"]:hover {
      background-color: #c43b3b; }
  .form .form__page {
    width: calc(50% - 30px);
    float: left;
    margin-left: 20px;
    padding: 20px 0; }
    .form .form__page * {
      font-family: "Raleway", Helvetica, Arial, sans-serif;
      font-size: 16px; }
    @media (max-width: 768px) {
      .form .form__page {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px;
        margin-bottom: 20px; } }
    @media (max-width: 480px) {
      .form .form__page {
        width: calc(100% - 20px);
        float: left;
        margin-left: 10px; } }
    .form .form__page .form__page-caption {
      margin-left: 10px;
      padding: 0 10px;
      display: inline-block;
      background-color: #BD2525; }
    .form .form__page .form__fieldwrap {
      margin-bottom: 15px;
      position: relative; }
      .form .form__page .form__fieldwrap.width100 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
      .form .form__page .form__fieldwrap.width50 {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.width50 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap .powermail_field::after {
        clear: both;
        content: "";
        display: table; }
      .form .form__page .form__fieldwrap .powermail_field ul {
        margin: 0;
        border: 1px solid #ffffff; }
        .form .form__page .form__fieldwrap .powermail_field ul::after {
          clear: both;
          content: "";
          display: table; }
        .form .form__page .form__fieldwrap .powermail_field ul li {
          list-style: none outside none;
          line-height: 20px;
          padding: 5px;
          color: #ffffff; }
      .form .form__page .form__fieldwrap.form__fieldwrap--checkbox {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--checkbox {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--checkbox .form__label {
          display: none; }
        .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label {
          display: block; }
          .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label input {
            width: 70px;
            height: 35px;
            border-radius: 35px;
            background-color: #d7d7d7;
            position: relative;
            -webkit-transition: 0.3s ease-in-out all;
            transition: 0.3s ease-in-out all;
            border: 1px solid #e5a8a8;
            display: block;
            float: left; }
            .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label input:checked {
              background-color: #d77c7c; }
              .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label input:checked:after {
                left: 35px; }
            .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label input:after {
              content: ' ';
              position: absolute;
              display: block;
              width: 35px;
              height: 35px;
              border-radius: 35px;
              background-color: #ffffff;
              top: 0;
              left: 0;
              -webkit-transition: 0.3s ease-in-out all;
              transition: 0.3s ease-in-out all;
              -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
              box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
          .form .form__page .form__fieldwrap.form__fieldwrap--checkbox label span {
            position: relative;
            display: inline-block;
            width: calc(100% - 85px);
            padding-left: 15px;
            margin-top: 8px; }
      .form .form__page .form__fieldwrap.form__fieldwrap--lastname {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--lastname {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--firstname {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--firstname {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--number-persons {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--number-persons {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--number-children {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--number-children {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--age-child-1 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--age-child-1 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-1 .powermail_field {
          float: left;
          width: 50px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-1 label {
          display: inline;
          float: right;
          margin-top: 7px;
          width: calc(100% - 60px); }
      .form .form__page .form__fieldwrap.form__fieldwrap--age-child-2 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--age-child-2 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-2 .powermail_field {
          float: left;
          width: 50px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-2 label {
          display: inline;
          float: right;
          margin-top: 7px;
          width: calc(100% - 60px); }
      .form .form__page .form__fieldwrap.form__fieldwrap--age-child-3 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--age-child-3 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-3 .powermail_field {
          float: left;
          width: 50px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-3 label {
          display: inline;
          float: right;
          margin-top: 7px;
          width: calc(100% - 60px); }
      .form .form__page .form__fieldwrap.form__fieldwrap--age-child-4 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--age-child-4 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-4 .powermail_field {
          float: left;
          width: 50px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-4 label {
          display: inline;
          float: right;
          margin-top: 7px;
          width: calc(100% - 60px); }
      .form .form__page .form__fieldwrap.form__fieldwrap--age-child-5 {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--age-child-5 {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-5 .powermail_field {
          float: left;
          width: 50px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--age-child-5 label {
          display: inline;
          float: right;
          margin-top: 7px;
          width: calc(100% - 60px); }
      .form .form__page .form__fieldwrap.form__fieldwrap--email {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--email {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--date-arrival {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--date-arrival {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--date-departure {
        width: calc(50% - 30px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--date-departure {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--type-of-housing {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        @media (max-width: 480px) {
          .form .form__page .form__fieldwrap.form__fieldwrap--type-of-housing {
            width: calc(100% - 20px);
            float: left;
            margin-left: 10px; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--your-message {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
      .form .form__page .form__fieldwrap.form__fieldwrap--captcha {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px; }
        .form .form__page .form__fieldwrap.form__fieldwrap--captcha input {
          width: 30%; }
          @media (max-width: 768px) {
            .form .form__page .form__fieldwrap.form__fieldwrap--captcha input {
              width: 100%; } }
        .form .form__page .form__fieldwrap.form__fieldwrap--captcha img {
          width: 65%;
          float: right;
          position: relative;
          top: -15px; }
          @media (max-width: 768px) {
            .form .form__page .form__fieldwrap.form__fieldwrap--captcha img {
              top: 0;
              margin-top: 5px;
              float: left; } }
      .form .form__page .form__fieldwrap.form__fieldwrap--submit {
        width: calc(100% - 40px);
        float: left;
        margin-left: 20px;
        margin-bottom: 0; }

.powermail_all_label {
  margin-right: 15px;
  display: inline-block; }

.powermail_fieldwrap.powermail_fieldwrap_type_content.width100 {
  width: calc(100% - 40px);
  float: left;
  margin-left: 20px; }
